<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<body>
<h1 th:text = "${post.title}"></h1>

<p th:text = "${post.content}"></p>


<!--<a th:href="@{/posts/{id}/form(id=${post.id})}">목록으로 돌아가기</a>-->
<br>

<a th:href="@{/posts/{id}/form(id=${post.id})}">수정</a>
<form th:action="@{/posts/{id}(id=${post.id})}" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">삭제</button>
</form>
<a href = "/posts">목록으로 돌아가기</a>



</body>
</html>